.center {
    margin: auto;
    text-align: center;
    width: 80%;
    padding: 10px;
}

.row {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.in-row-div {
    width: 100%;
}

.box{
    background: gray;
    border-radius: 10px;
    padding: 5px;
    width: auto;
    height: 30px;
    margin: 1px;    
    color: black;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}